---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import InfoBar from '../components/InfoBar.astro';
import ContentVarOne from '../components/ContentVarOne.astro';
import ContentVarTwo from '../components/ContentVarTwo.astro';
import PreFooter from '../components/PreFooter.astro';
import Footer from '../components/Footer.astro';


---

<Layout title="enrollmentFuel | Welcome!">
	<main>
		
		<Header/>
		<Hero/>
		<InfoBar/>
		<ContentVarOne />
		<ContentVarTwo />
		<PreFooter />
		<Footer />
		
		
	
		
	</main>
</Layout>

<style>
	
</style>
