---
import { Image } from 'astro:assets';
import enrollmentFuelLogo from '../images/enrollmentFuelLogo.png';
---
<div class="container">
    <div class="box" id="box1">
        <!-- Logo goes here -->
        <img src= {enrollmentFuelLogo.src} alt="EnrollmentFuel Logo">
        
    </div>
    <div class="box" id="box2">
        
    </div>
    <div class="box" id="box3">
        
    </div>
</div>



<style>


/* Media query for phones in landscape */
@media only screen and (max-width: 600px) and (orientation: landscape) {
    .container {
    display: flex;
    background-color:#f5f5f5;
    height:77px;
}

.box {
   flex: 1;
}

/* Optional: Specific styles for each box */
#box1 img{
   margin:10px 0px 0px 90px;
   width:142px;
}

}

/* General media query for landscape orientation */
@media only screen and (orientation: landscape) {
    .container {
    display: flex;
    background-color:#f5f5f5;
    height:77px;
}

.box {
   flex: 1;
}

/* Optional: Specific styles for each box */
#box1 img{
   margin:10px 0px 0px 90px;
   width:142px;
}

}








/* Styles specifically for phones */
@media (max-width: 600px) {
    .container {
    display: flex;
    background-color:#f5f5f5;
    height:77px;
}

.box {
   flex: 1;
}

/* Optional: Specific styles for each box */
#box1 img{
    margin:10px 0px 0px 90px;
    width:142px;
   
}

}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .container {
    display: flex;
    background-color:#f5f5f5;
    height:77px;
}

.box {
   flex: 1;
}

/* Optional: Specific styles for each box */
#box1 img{
   margin:10px 0px 0px 90px;
   width:142px;
}

   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .container {
    display: flex;
    background-color:#f5f5f5;
    height:77px;
}

.box {
   flex: 1;
}

/* Optional: Specific styles for each box */
#box1 img{
   margin:10px 0px 0px 90px;
   width:142px;
}

   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .container {
    display: flex;
    background-color:#f5f5f5;
    height:77px;
}

.box {
   flex: 1;
}

/* Optional: Specific styles for each box */
#box1 img{
   margin:10px 0px 0px 90px;
   width:142px;
}

   
}



</style>
