
---


---
<div class="background-image">
    <!-- <div class="overlay"></div> -->
    <p class="centered-text">Aenean id lorem sit amet odio eleifend interdum.</p>
</div>



<style>


/* Media query for phones in landscape */
@media only screen and (max-width: 600px) and (orientation: landscape) {
    @font-face {
    font-family: 'MiloPro-Bold';
    src: url('../fonts/FontFont - MiloPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloPro-Text_0';
    src: url('../fonts/FontFont - MiloPro-Text_0.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Bold';
    src: url('../fonts/FontFont - MiloSerifPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Text';
    src: url('../fonts/FontFont - MiloSerifPro-Text.otf') ;
    
    }

    @font-face {
    font-family: 'holiday';
    src: url('../fonts/holiday.otf') ;
    
    }


    .background-image {
    position: relative;
    width: 100%;
    height:60px;
    /* background-image: url('../src/images/skateBoardingGuy.png');
    background-size:cover;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009bbf;
}



.centered-text {
    color: white;
    font-size: 1.5em; /* or any size you prefer */
    text-align: center;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    position: relative;
    z-index: 2;  
    font-family: 'MiloPro-Bold';
    text-transform:uppercase;
    
    
  
}
    
}

/* General media query for landscape orientation */
@media only screen and (orientation: landscape) {
    @font-face {
    font-family: 'MiloPro-Bold';
    src: url('../fonts/FontFont - MiloPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloPro-Text_0';
    src: url('../fonts/FontFont - MiloPro-Text_0.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Bold';
    src: url('../fonts/FontFont - MiloSerifPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Text';
    src: url('../fonts/FontFont - MiloSerifPro-Text.otf') ;
    
    }

    @font-face {
    font-family: 'holiday';
    src: url('../fonts/holiday.otf') ;
    
    }


    .background-image {
    position: relative;
    width: 100%;
    height:60px;
    /* background-image: url('../src/images/skateBoardingGuy.png');
    background-size:cover;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009bbf;
}



.centered-text {
    color: white;
    font-size: 1.5em; /* or any size you prefer */
    text-align: center;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    position: relative;
    z-index: 2;  
    font-family: 'MiloPro-Bold';
    text-transform:uppercase;
    
    
  
}

    
}


/* Styles specifically for phones */
@media (max-width: 600px) {
    @font-face {
    font-family: 'MiloPro-Bold';
    src: url('../fonts/FontFont - MiloPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloPro-Text_0';
    src: url('../fonts/FontFont - MiloPro-Text_0.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Bold';
    src: url('../fonts/FontFont - MiloSerifPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Text';
    src: url('../fonts/FontFont - MiloSerifPro-Text.otf') ;
    
    }

    @font-face {
    font-family: 'holiday';
    src: url('../fonts/holiday.otf') ;
    
    }


    .background-image {
    position: relative;
    width: 100%;
    height:60px;
    /* background-image: url('../src/images/skateBoardingGuy.png');
    background-size:cover;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009bbf;
}



.centered-text {
    color: white;
    font-size: 0.8em; /* or any size you prefer */
    text-align: center;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    position: relative;
    z-index: 2;  
    font-family: 'MiloPro-Bold';
    text-transform:uppercase;
    
    
  
}

   
}


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    @font-face {
    font-family: 'MiloPro-Bold';
    src: url('../fonts/FontFont - MiloPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloPro-Text_0';
    src: url('../fonts/FontFont - MiloPro-Text_0.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Bold';
    src: url('../fonts/FontFont - MiloSerifPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Text';
    src: url('../fonts/FontFont - MiloSerifPro-Text.otf') ;
    
    }

    @font-face {
    font-family: 'holiday';
    src: url('../fonts/holiday.otf') ;
    
    }


    .background-image {
    position: relative;
    width: 100%;
    height:90px;
    /* background-image: url('../src/images/skateBoardingGuy.png');
    background-size:cover;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009bbf;
}



.centered-text {
    color: white;
    font-size: 1.3em; /* or any size you prefer */
    text-align: center;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    position: relative;
    z-index: 2;  
    font-family: 'MiloPro-Bold';
    text-transform:uppercase;
    
    
  
}

     
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    @font-face {
    font-family: 'MiloPro-Bold';
    src: url('../fonts/FontFont - MiloPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloPro-Text_0';
    src: url('../fonts/FontFont - MiloPro-Text_0.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Bold';
    src: url('../fonts/FontFont - MiloSerifPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Text';
    src: url('../fonts/FontFont - MiloSerifPro-Text.otf') ;
    
    }

    @font-face {
    font-family: 'holiday';
    src: url('../fonts/holiday.otf') ;
    
    }


    .background-image {
    position: relative;
    width: 100%;
    height:113px;
    /* background-image: url('../src/images/skateBoardingGuy.png');
    background-size:cover;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009bbf;
}



.centered-text {
    color: white;
    font-size: 1.8em; /* or any size you prefer */
    text-align: center;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    position: relative;
    z-index: 2;  
    font-family: 'MiloPro-Bold';
    text-transform:uppercase;
    
    
  
}

  
   
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    @font-face {
    font-family: 'MiloPro-Bold';
    src: url('../fonts/FontFont - MiloPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloPro-Text_0';
    src: url('../fonts/FontFont - MiloPro-Text_0.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Bold';
    src: url('../fonts/FontFont - MiloSerifPro-Bold.otf') ;
    
    }

    @font-face {
    font-family: 'MiloSerifPro-Text';
    src: url('../fonts/FontFont - MiloSerifPro-Text.otf') ;
    
    }

    @font-face {
    font-family: 'holiday';
    src: url('../fonts/holiday.otf') ;
    
    }


    .background-image {
    position: relative;
    width: 100%;
    height:113px;
    /* background-image: url('../src/images/skateBoardingGuy.png');
    background-size:cover;
    background-position: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #009bbf;
}



.centered-text {
    color: white;
    font-size: 1.8em; /* or any size you prefer */
    text-align: center;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    position: relative;
    z-index: 2;  
    font-family: 'MiloPro-Bold';
    text-transform:uppercase;
    
    
  
}


   
}



</style>
